.waterson{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teXt{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text1{
    font-family: neue-haas-grotesk-display,Helvetica,sans-serif;
    font-size: 30px;
    color: #0b1320;
    font-weight: 700;
    margin-top: 20px;
}

.text2{
    font-family: neue-haas-grotesk-display,Helvetica,sans-serif;
    font-size: 17px;
    margin: 10px 0;
    color: #3b3f47;
    font-weight: 400;
}

.logos{
    width: 85%;
    height:75% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos1{
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos2{
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.logos3{
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waterson2{
    width: 100%;
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waterlogo{
    width: 85%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.stons{
    width: 400px;
    height: 100px;
}

.quote{
    width: 65px;
    height: 65px;
}

.alex{
    width: 85%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.alex > p{
    color: #3B3F47;
    font-size: 26px;
}


.eclipse{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eclipse > img{
    width: 350px;
    height: 350px;
}



